.flair-gold {
  background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
  border-color: black;
}

.flair-gold.flair-blue {
  color: #02588f;
}

.flair-gold.flair-red {
  color: #99352b;
}

.flair-gold.flair-purple {
  color: #642f7a;
}
