/*.side:before {
   content: url(%%charlie-dent%%) " Charlie Dent - Current co-chair of the Tuesday Group";
   font-weight: bold;
   font-size: 120%;
}*/
/*.side:before {
   content: url(%%mccain%%) " M A V E R I C K";
   font-weight: bold;
   font-size: 400%;
}*/
/*.side:before {
   content: "Honorary RINO of The Week:" url(%%kasich-portrait%%) "Ohio Republican Gov. John Kasich";
   font-weight: bold;
   font-size: 177%;
}*/
/*.side:before {
   content: "Honorary RINO of The Week:" url(%%bob-corker%%) "Sen. Bob Corker (R-Tenn.)";
   font-weight: bold;
   font-size: 210%;
}*/
/*.side:before {
   content: "Honorary RINO of The Week:" url(%%tillerson%%) "Sec. of State, Rex Tillerson";
   font-weight: bold;
   font-size: 220%;
}*/
/*.side:before {
   content: "" url(%%margaret-thatcher%%) "Margaret Thatcher, Former UK PM";
   font-weight: bold;
   font-size: 180%;
}*/
